<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#link rel="stylesheet" href="https://unpkg.com/bulmaswatch/sandstone/bulmaswatch.min.css"%>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header></header>
    <div class=""> <%= render 'layouts/navbar' %> </div>   
    <div class=""> <%= render 'layouts/error_messages' %> </div>    
    
    <div class="section">
      <div class="container"><%= yield %></div>
    </div>
  </body>
</html>
